.page{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pageContent{
    width: 1244px;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}
.pageContent>div{
    width: 200px;
    margin-right: 30px;
}
.pageContent>section{
    flex: 1;
}

.aHead{
    height: 50px;
    line-height: 50px;
}
.aHead>button{
    margin-left: 25px;
}

.aTable{
    width: 100%;
    table-layout: fixed;
}
.aTable>tr:first-child{
    background: #2A96FF;
    color: #fff;
    font-weight: bold;
}
.aTable>tr{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.aTable>tr>td:nth-child(2){
    flex: 1;
}
.aTable>tr>td{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 50px;
}
.formItem2{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.formItem{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.formItem>label{
    width: 100px;
}
.formItem>div{
    width: 200px;
}

.formItem2>label{
    width: 100px;
}
.formItem2>div{
    flex: 1;
}
.tthead{
    height: 50px;
    line-height: 50px;
}
.tthead>label{
    margin-left: 20px;
}

