.page{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pageContent{
    width: 1244px;
    margin-top: 35px;
}
.remindWords{
    color: red;
    margin-left: 25px;
    font-size: 15px;
}
.head{
    height: 50px;
    line-height: 50px;
}
.head>button{
    margin-left: 25px;
}
.bannerTable{
    width: 100%;
    table-layout: fixed;
}
.bannerTable>tr:first-child{
    background: #2A96FF;
    color: #fff;
    font-weight: bold;
}
.bannerTable>tr{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.bannerTable>tr>td:nth-child(2){
    min-width: 120px;
}
.bannerTable>tr>td:nth-child(3){
    min-width: 192px;
    flex: 1;
}
.bannerTable>tr>td:nth-child(4){
    flex: 2;
}
.bannerTable>tr>td{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    min-height: 50px;
}
.bannerTable>tr>td:nth-child(3)>img{
    width: 192px;
    height: 108px;
}

.contentItem{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.contentItem>label{
    width: 100px;
}
.contentItem>textarea{
    width: 450px;
}

.formItem{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.formItem>label{
    width: 100px;
}
.formItem>div{
    width: 200px;
}
.imgBtn{
    position: relative;
}
.finput{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 36px;
    opacity: 0;
}
.imageItem{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imageItem>img{
    width: 192px;
    height: 108px;
    margin-right: 30px;
    margin-left: 30px;
}