.arhead{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.arhead>label{
    padding-left: 10px;
    border-left:3px solid #2A96FF;
}
.page{
    margin-right: 40px;
}
.artit{
    width: 100%;
    margin:0 auto;
}

.artit>li{
    height: 50px;
    line-height: 50px;
    color: #2a96ff;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.artit>li:hover{
    background: rgba(244,244,244,.8);
}
.artit>li>label:first-child{
    margin-left: 15px;
    cursor: pointer;
}