
.container{

}
.footer{
}
.footer>header{
    height: 54px;
    line-height: 54px;
    background: #0089E1;
    border-bottom: 1px solid #002D4A;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.link{
    width: 1244px;
    color: #fff;
}
.link>a{
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
}
.phone>label{
    margin-right: 40px;
}
.phone>a{
    text-decoration: none;
    color: #afcde5;
}
footer>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0089E1;
    color: #afcde5;
    height: 100px;
    justify-content: flex-end;
}
footer>div>div{
    font-size: 14px;
    width: 1244px;
    margin-bottom: 12px;
    text-align: center;
}

.indexheader{
    height:85px;
    width: 100%;
    line-height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    color: #FFF;
}

.headernav{
    float: right;
    border-radius:3px;
    background: rgba(0,0,0,.3);
    height: 55px;
    line-height: 55px;
    margin-top: 15px;
    margin-right: 20px;
}
.headernav>li{
    float: left;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
    transition: background-color .5s;
    transition: color .5s;
}

.headernav>li:hover{
    transition: background .5s;
    background: rgba(250,250,250,.8);
}

.newscont{
    display: flex;
    flex-direction: row;
    width: 1244px;
    background: #002D4A;
    /*height: ;*/
}