.detailPage{
    max-width: 1244px;
    margin: 0 auto;
}
.detailPage>pre{
    text-indent: 40px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: 30px;
    font-size: 21px;
    font-family: 仿宋;
}
.pagetime{
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    color: rgba(0,0,0,.54);
    white-space: nowrap;
    overflow: hidden;
}
.pageimg{
    text-align: center;
    margin: 15px 0;
}
.pageHeader{
    margin-top: 105px;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    color: rgba(0,0,0,.87);
}
.pageHeader>label:first-child{

}